<h2>Contacto</h2>

<form #formulario="ngForm" (ngSubmit)="enviarFormulario(formulario)">
  <div>
    <label for="nombre">Nombre: </label>
    <input type="text" id="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" required pattern="[a-zA-Z]+"
      [ngClass]="{'campo-invalido': nombre.touched && !nombre.valid, 'campo-valido': nombre.valid}">
    <span *ngIf="nombre.touched && !nombre.valid">El campo nombre no es válido o está vacío</span>
  </div>

  <div>
    <label for="apellidos">Apellidos: </label>
    <input type="text" id="apellidos" name="apellidos" #apellidos="ngModel" [(ngModel)]="usuario.apellidos" required pattern="[a-zA-Z\s]+"
      [ngClass]="{'campo-invalido': apellidos.touched && !apellidos.valid, 'campo-valido': apellidos.valid}">
    <span *ngIf="apellidos.touched && !apellidos.valid">El campo apellidos no es válido o está vacío</span>
  </div>

  <div>
    <label for="email">Email: </label>
    <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="usuario.email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
      [ngClass]="{'campo-invalido': email.touched && !email.valid, 'campo-valido': email.valid}">
    <span *ngIf="email.touched && !email.valid">El campo email no es válido o está vacío</span>
  </div>

  <div>
    <label for="mensaje">Mensaje: </label>
    <br><textarea id="mensaje" name="mensaje" #mensaje="ngModel" [(ngModel)]="usuario.mensaje" required maxlength="200"
      [ngClass]="{'campo-invalido': mensaje.touched && !mensaje.valid, 'campo-valido': mensaje.valid}"></textarea>
    <span *ngIf="mensaje.touched && !mensaje.valid">El campo mensaje no es válido o está vacío</span>
  </div> <br>

  <button type="submit" [disabled]="!formulario.valid">Enviar</button>
</form>

